body {
	font-weight: 500;
	font-size: 14px;
	font-family: Montserrat;
	color: #252B42;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

._container {
	max-width: 1046px;
	margin: 0px auto;
	padding: 0 15px;
	box-sizing: content-box;
}

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 20;
}
.header__container {
	display: flex;
	align-items: center;
	min-height: 104px;
}
@media (max-width: 479px) {
	.header__container {
		min-height: 70px;
	}
}
.header__logo {
	font-weight: 700;
	font-size: 24px;
	color: inherit;
}
.header__menu {
	margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
	.header__menu {
		margin: 0px 0px 0px 80px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0px 0px 0px 40px;
	}
}
@media (max-width: 479px) {
	.header__menu {
		margin: 0px 0px 0px 20px;
	}
}
.header__list {
	display: flex;
	flex-wrap: wrap;
}
.header__item {
}
.header__item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}
.header__link {
	font-weight: 600;
	line-height: calc(24 / 14 * 100%);
	color: #737373;
}
@media (max-width: 479px) {
	.header__link {
		font-size: 18px;
	}
}

.page {
	flex: 1 1 auto;
}
.page__main-block {
}

.main-block {
}
.main-block__container {
}
._container {
}
.main-block__inner {
}
.main-block__title {
}
.main-block__text {
}
.main-block__buttons {
}
.main-block__button {
}
.main-block__button_border {
}

.footer {
}
